@import url('https://fonts.googleapis.com/css?family=Arvo|DM+Serif+Text|Libre+Baskerville|Open+Sans|Playfair+Display+SC|Roboto&display=swap');

body {
    background-color: rgb(248, 249, 250);
}

header h1 {
    text-align: center;
    font-family: libre baskerville;
    color: black;
    margin-top: 20px;
}

header h1 a {
    color: black;
}

h1 a:hover {
    text-decoration: none;
    color: darkslategrey;
}

header img {
    display: block;
}

#smallscreenlogo {
    font-family: libre baskerville;
    text-align: center;
}

.navbar .nav-item .nav-link {
    text-transform: uppercase;
    font-family: playfair display sc;
    font-size: .85em;
    color: darkslategrey;
}

.navbar .nav-item .nav-link:hover {
    color: rgb(0, 151, 0);
}

.homeimage {
    margin-bottom: 2rem;
}

.container-fluid .cardwidth {
    padding: 0;
    margin-bottom: 2rem;
}

.welcometext {
    font-size: .9rem;
    text-align: justify;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-family: open sans;
    color: rgb(58, 92, 92);
}

footer {
    background-color: rgb(221, 221, 221);
    padding-bottom: 10px;
    padding-top: 10px;
    }

footer span {
    display: block;
    color: darkslategrey;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 0;
    font-family: libre baskerville;
    font-size: 0.8em;
}

@media only screen and (min-width: 600px) {
    .welcometext {
        font-size: 1rem;
        padding: 30px; 20px, 30px, 20px;
    }
}

@media only screen and (min-width: 768px) {
    .welcometext {
        font-size: 1.2rem;
        padding: 30px; 20px, 30px, 20px;
    }
}